<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="com.trackbus.app" version="2.6.0">
    <name>TrackBus</name>
    <description>Monitoramento de Rotas.</description>
    <author>ECIT Dom Marcelo Pinto Cavalheira</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    
    <plugin name="cordova-plugin-geolocation" />
    
    <icon src="/22ceaddfe190db844877f836c3eef215.jpg" />
</widget>
